{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>Exam Component Management</h1>
    </div>
</section>
{% endblock %}
